/*custom the title*/
#title{
    color: #D5AD42;
    text-align: center;
    font-family: Tahoma;
}
#logo {
    position: absolute;
    height:100px;
    width:100px;
    top:1%;
    right:5%;
}
/*custom banner at the top of page*/
#banner{
    position:fixed;
    background-color:#446785;
    height:100px;
    width:60%;
    top:0px;
    left:0%;
    z-index: -1;
}
/*adds the slant at the end of the banner*/
#triangle{ 
    position:fixed;
    border-left: 100px solid #446785;
    border-right: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 100px solid transparent;
    top:0px;
    left:60%;
    z-index: -1;
}

#back{
    position:absolute;
    width:100%;
    height:96%;
    top:0%;
    left:0%;
    z-index:-3;
    background-color:#1a2732;
}

/*adds the scrolling text*/
.scroll_text{
    position:fixed;
    font-family: Tahoma;
    top:80px;
    z-index:-1; 
    width:60%; 
    height:20px; 
    background-color:#446785;
    color:white;
}

/*sets the buttons standards for each page*/
.button{
    background-color: white;
    height:50px;
    width:100px;
    border: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* sets up the >> on the buttons ready when it is hovered over*/
.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* changes the text color of the butotn too white when hoverde over*/
.button:hover span {
  padding-right: 40px;
  color:white;
}

/*shows the >> when button is hovered over*/
.button:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
}

/* sets the defualt button text colour to yellow*/
div text p{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 20px;
    line-height: 50%;
    color: #D5AD42;
}

.button1 {
    position:fixed;
    top:20px;
    left: 0.5%;
    background-color: white;
    border: 2px solid #D5AD42;
}                        /*customise each button on the page ie change text size*/
.button1:hover {
    background-color: #D5AD42;
    color:white;
}

.button2 {
    position:fixed;
    top:20px;
    left: 10.5%;
    background-color: white;
    border: 2px solid #D5AD42;
}
.button2:hover {
    background-color:#D5AD42;
    color:white;
}

.button3 {
    position:fixed;
    top:20px;
    left:20.5%;
    background-color: white;
    border: 2px solid #D5AD42;
}
.button3:hover {
    background-color: #D5AD42;
    color:white;
}

/*Slideshow container*/
.slideshow-container{
    position: absolute;
    width:80%;
    height:70%;
    background-color:#4f4948;
    top:20%;
    left:10%;
    z-index: -2;
}

/*Next & previous buttons*/
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color:#D5AD42;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/*Position the "next button" to the right*/
.next{
    position:absolute;
    right:0%;
    border-radius: 3px 0 0 3px;
    color:#D5AD42;
}

/*Position the "prvious button" to the left*/
.prev{
    position:absolute;
    left:0%;
    border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little bit see-through*/
.prev:hover, .next:hover{
    background-color: #446785;
}

/*Caption text*/
.text{
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/*Number text (1/3 etc)*/
.numbertext{
    color:black;
    font-weight:bold;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*The dot indicators*/
.dot{
    cursor:pointer;
    height:13px;
    width:13px;
    background-color:#446785;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dot1{
    position:absolute;
    bottom:6%;
    left:45%;
}
.dot2{
    position:absolute;
    bottom:6%;
    left:50%;
}
.dot3{
    position:absolute;
    bottom:6%;
    left:55%;
}

.active, .dot:hover{
    background-color:#D5AD42;
}

/*Fading animation*/
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}


.photo_box{
    position:absolute;
    width:20%;
    height:40%;
    background-color: red;
    border-radius:15px;
}

#photo_box1{
    background-color: white;
    left:10%;
    top:100%;
}
#photo_box2{
    background-color: white;
    border:solid;
    border-width:5px;
    border-color:#446785;
    left:35%;
    top:100%;
}
#photo_box3{
    left:60%;
    top:100%;
}

/*custom banner at the bottom of page*/
#banner2{
    position:absolute;
    background-color:#446785;
    height:100px;
    width:60%;
    top:150%;
    right:0%;
    z-index:-1;
}
/*adds the slant at the end of the banner*/
#triangle2{ 
    position:absolute;
    border-left:100px solid transparent;
    border-right:100px solid #446785;
    border-bottom:0px solid transparent;
    border-top:100px solid transparent;
    top:150%;
    right:60%;
    z-index: -1;
}

#comment_box{
    position: fixed;
    top:20%;
    width:30%;
    height:30%;
    left:30%;
}


#intro{
    height:15%;
    width:40%;
    position:absolute;
    top:15%;
    left:30%;
    color:#D5AD42;
    font-family: Tahoma;
    text-decoration: blink;
    z-index:-2;
}

#basics{
    height:10%;
    width:30%;
    background-color:#446785;
    position:absolute;
    top:30%;
    color:#D5AD42;
    font-family: Tahoma;
    text-decoration: underline;
    z-index:-2;
}

#textbox{
    position:absolute; 
    top:40%;
    width:40%;
    height:100%;
    /*background-color: red;      only used to help position the text*/
    font-family:Tahoma;
    color:#D5AD42;
    z-index:-2;
}
